.timings {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-auto-flow: column dense;
  align-items: baseline;
  gap: var(--size-spacing-small) var(--size-spacing-large);
}

.timings > dt {
  /* Depart / Arrive */
  grid-row: 2;
  color: inherit;
}

.timings > dt + dd {
  /* City / Airport / Station */
  grid-column-end: span 2;
  font-family: var(--font-family-display);
  font-weight: bold;
}

.timings > dt + dd + dd {
  /* Time */
  grid-row: 2;
  white-space: nowrap;
}
