:root {
  --size-spacing-small: 0.25rem;
  --size-spacing-medium: 0.5rem;
  --size-spacing-large: 1rem;
  --size-icon-small: 1rem;
  --size-icon-medium: 2rem;
  --size-icon-large: 4rem;
  --size-corner-small: 2px;
  --size-corner-medium: var(--size-spacing-small);
  --size-corner-large: var(--size-spacing-medium);
  --size-font-body: 1rem;

  --weight-line-light: 1px;
  --weight-line-medium: 1px;
  --weight-line-heavy: 4px;

  --color-accent: rgb(42 143 42);
  --color-background-header: var(--color-accent);
  --color-background-page: rgb(238 237 231);
  --color-link-inverted: rgb(255 208 0);
  --color-link: var(--color-accent);
  --color-text: rgb(51 51 51);
  --color-text-heading: var(--color-accent);
  --color-text-inverted: rgb(255 255 255);

  --font-family-display: Kanit, "Trebuchet MS", Calibri, Roboto,
    "Segoe UI", Ubuntu, sans-serif;
  --font-family-body: Merriweather, Baskerville, Cambria,
    "Noto Serif", "Bitstream Charter", serif;
}
