.destination {
  display: contents;

  header {
    grid-area: hdr;
    background: none;
    color: var(--color-accent);
    height: min-content;

    a[href] {
      color: currentColor;
    }
  }

  img {
    grid-area: img;
  }

  footer {
    display: grid;
    grid-template-columns: subgrid;
    grid-area: ftr;

    > a {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: auto / span calc(var(--page-grids) / 2);
      grid-template-areas: "city time stat icon";
      align-items: center;
      border: 1px solid var(--color-accent);
      text-decoration: none;

      svg.icon {
        grid-area: icon;
      }

      dl {
        display: contents;
      }
      dt {
        grid-area: city;
        justify-self: end;
      }
      dd {
        grid-area: time;
        justify-self: start;
      }
      dd + dd {
        grid-area: stat;
        justify-self: end;
      }
    }

    a.depart {
      grid-template-areas: "icon stat city time";

      svg.icon {
        justify-self: end;
      }

      dd + dd {
        justify-self: start;
      }
    }
  }
}

.accommodation {
  display: grid;
  grid-area: acc;
  grid-template-columns: subgrid [dt] [dd];
  align-content: start;

  svg.icon {
    --size-icon: var(--size-icon-large);
  }

  h3 {
    display: flex;
    align-items: center;

    grid-column: 1 / -1;
  }
  dl {
    display: contents;
  }

  dt {
    grid-column: dt;
  }

  dd {
    grid-column: dd / -1;
  }
}

.excursions {
  display: grid;
  grid-area: exc;
  grid-template-columns: subgrid;
  list-style: none;
  padding: 0;
  gap: var(--size-spacing-large);
  font-family: var(--font-family-display);
  font-size: var(--size-type-mlarge);
  line-height: var(--font-line-height-display);

  svg.icon {
    --size-icon: var(--size-icon-large);
  }

  > li {
    display: flex;
    align-items: center;
    grid-column: auto / span 2;
    background-color: var(--color-accent);
    color: var(--color-text-inverted);
    padding: var(--size-spacing-medium);
    gap: var(--size-spacing-medium);
  }
}
