.entourage {
  display: grid;
  grid-column: auto / span 8;
  grid-template-columns: subgrid;
  gap: var(--size-spacing-medium);
  list-style: none;
  padding: 0;

  > * {
    grid-column: auto / span 2;
  }
}
