.page > .itinerary {
  padding: var(--size-spacing-medium);

  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;

  dt {
    grid-column: 1/ span 2;
  }

  dd {
    grid-column: 3/-1;
  }

}




