.timings {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-auto-flow: column dense;
  align-items: baseline;
  gap: var(--size-spacing-small) var(--size-spacing-large);

  > dt {
    /* Depart / Arrive */
    grid-row: 2;
  }

  > dt + dd {
    /* City / Airport / Station */
    grid-column-end: span 2;
    font-family: var(--font-family-display);
  }

  > dt + dd + dd {
    /* Time */
    grid-row: 2;
    white-space: nowrap;
  }
}
