.profile {
  display: grid;
  grid-template-columns: [label] 2fr [value] 3fr [end];
  gap: var(--size-spacing-large);
  width: 100%;
  padding: var(--size-spacing-medium);
}

.profile profile-form,
.profile dl {
  display: contents;
}
.profile dt,
.profile form-control *[slot="label"] {
  grid-column: label;
  white-space: nowrap;
  text-align: right;
  font-family: var(--font-family-display);
}
.profile dd,
.profile input {
  grid-column: value;
}
.profile input {
  width: 100%;
}
